@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  src: local("Outfit-Regular"),
    url("./assets/Fonts/Outfit-Regular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  scroll-behavior: smooth;
  color: black;
  font-family: "Outfit", sans-serif;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #3dbb47; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #3dbb47; /* Color of the scrollbar thumb when hovered */
}

.header-text {
  @apply text-header md:text-[24px] lg:text-[42px];
  color: "#1C1C1C";
}

.body-text {
  @apply text-body md:text-[18px] lg:text-[21px];
  color: "#565656";
}

.card-header {
  @apply text-cardheader md:text-[18px] lg:text-[24px];
}

.card-body {
  @apply text-cardbody md:text-[14px] lg:text-[16px];
}
